div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.line {
    display: flex;
}

.wall {
    width: 40px;
    height: 40px;
    background-color: black;
}

.floor {
    width: 40px;
    height: 40px;
    background-color: grey;
}

.end {
    width: 40px;
    height: 40px;
    background-color: red;
}

.start {
    width: 40px;
    height: 40px;
    background-color: blue;
}

.player {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: yellow;
}

/********** PLAYER COM POSITION: ABSOLUTE *******/